@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .nav-link {
    @apply relative font-semibold text-white cursor-pointer md:block after:block hidden;

     /* Custom font size */
     font-size: 17px;

    /* Pseudo-element styling */
    &::after {
      content: '';
      position: absolute;
      height: 3px; 
      background-color: rgba(255, 255, 0, 0.5); 
      width: 100%;
      transform: scaleX(0); 
      transition: transform 0.3s ease-in-out; 
      transform-origin: center; 
    }

    /* Hover effect for the pseudo-element */
    &:hover::after {
      transform: scaleX(1); 
    }
  }

  .nav-link-mobile {
    @apply relative font-semibold text-white cursor-pointer md:block after:block;

     /* Custom font size */
     font-size: 27px;
     margin-bottom: 2rem;

    /* Pseudo-element styling */
    &::after {
      content: '';
      position: absolute;
      height: 3px; 
      background-color: rgba(255, 255, 0, 0.5); 
      width: 100%;
      transform: scaleX(0); 
      transition: transform 0.3s ease-in-out; 
      transform-origin: center; 
    }

    /* Hover effect for the pseudo-element */
    &:hover::after {
      transform: scaleX(1); 
    }
  }

  /* Hide .nav-link-mobile on medium screens and above */
  @media (min-width: 768px) {
    .nav-link-mobile {
      display: none;
    }
  }
}
